<nav id='navigation' class='navigation'>
  <h2>Navigation Menu</h2>
  <ul>
    <li id='meditation' class='meditation'>
    <span class='block center'></span>Meditation</li>
    
    <li id='account' class='account'>
    <span class='block center'></span>Account</li>
    <li id='logout' class='logout'>
    <span class='block center'></span>Logout</li>
  </ul>
</nav>