<nav id='navigationTop'>
  <ul>
    <li class='meditation'>
    <span class='inlineblock center'></span>Meditation</li>
    
    <li class='account'>
    <span class='inlineblock center'></span>Account</li>
    <li class='logout'>
    <span class='inlineblock center'></span>Logout</li>
  </ul>
</nav>