<%- include('partials/header') %>
<div id="dashboardWrapper">
  <%- include('partials/navigation_top') %>
  <%- include('partials/navigation_left') %>

  <main id="dashboard">

    This is the dashboard page
  </main>
</div>
<%- include('partials/footer') %>