<%- include('partials/header') %>
<main class='block center'>
  <div id='loginFormWrapper' class='block center'>
    <form id="loginForm" class="block center" action='/passwordsend' method='post'>
    <h3>Recover your password</h3>
    <div class='input'>
      <label for='userOrEmail'>Username / Email: </label>
      <input type='text' id='userOrEmail' name='userOrEmail' placeholder='Enter username or email'>
    </div>

    <button type='submit' name='submit' value='submit'>Send password recovery email</button>
    <div id='loginBTN'>
      <a class='blueBTN' href='https://www.intuitionlog.com'>Return to Login</a>
    </div>
  </form>
  </div>

  <!-- Messages -->
  <div class="errListContainer">
  <% if(sendPWResetEmailErr) { %>
    <ul>
    <% sendPWResetEmailErr.forEach((pwErr) => { %>
      <li class="errMsg"><%- pwErr.msg %></li>
    <% }); %>
    </ul>
  <% } %>

  <% if(sendPWResetEmailMsg) { %>
    <ul>
      <li class="errMsg"><%- sendPWResetEmailMsg %></li>
    </ul>
  <% } %>
  </div>

  <div class="successListContainer">
   
  </div>
</main>
<%- include('partials/footer') %>